.header {
    height: 80px;
}

.login {
    .item:hover {

        cursor: pointer;
        color: white!important;
        background-color: var(--bs-primary);
    }
}

@import "../../node_modules/bootstrap/scss/bootstrap";