.header, .footer {
    height: 80px;
}

.chat {

    .contenedor {
        height: 100%;
    }

    .scroll {
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

.login {
    .item:hover {

        cursor: pointer;
        color: white!important;
        background-color: var(--bs-primary);
    }
}

@import "../../node_modules/bootstrap/scss/bootstrap";